* {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

/* --------------------------------------        FIRST SECTION        -----------------------------------------*/

.firstSection {
    border: 1px solid #ff0000;  /*   Border to delete later.  */
    background-image: url('images/tobias-keller-73F4pKoUkM0-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000506e6;
    background-blend-mode: soft-light;
    height: 700px;
    display: flex;
    flex-direction: column;
}

/* ----------- First Part ------------*/

.firstPart {
    border: 1px solid #0077ff;  /*   Border to delete later.  */
    display: flex;
    justify-content: space-between;
}

.sectionLogo {
    border: 1px solid #ff0000;  /*   Border to delete later.  */
    display: flex;
}

.logoImage {
    border: 1px solid #0077ff;  /*   Border to delete later.  */
    width: 100px;
}

.logoInformation {
    border: 1px solid #0077ff;  /*   Border to delete later.  */
    display: flex;
    flex-direction: column;
}

.logoName {
    border: 1px solid #ff0000;  /*   Border to delete later.  */
    margin-top: auto;
}

.logoDescription {
    border: 1px solid #ff0000;  /*   Border to delete later.  */
    margin-bottom: auto;
}

.mainMenu {
    border: 1px solid #ff0000;  /*   Border to delete later.  */
    display: flex;
}

.ulMenu {
    list-style: none;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}


/* ----------- Second Part ------------*/

.secondPart {
    border: 1px solid #0077ff;  /*   Border to delete later.  */
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.companyImage {
    border: 1px solid #ff0000;  /*   Border to delete later.  */
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}